body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f3f7fc;
}

h2 {
    color: crimson;
}

.clr {
    clear: both;
}

.block {
    float: left;
    width: 33.30%;
    box-sizing: border-box;
}

.block-1 {
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    padding-right: 15px;
}

.block-2 {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-right: 15px;
}